.custom_item.income {
  background-color: #fcba2e33;
  border-left: 4px solid #fcba2e;
  border-right: 1px solid #fcba2e;
  border-top: 1px solid #fcba2e;
  border-bottom: 1px solid #fcba2e;
}
.custom_item.expense {
  background-color: #7a67eb33;
  border-left: 4px solid #7a67eb;
  border-right: 1px solid #7a67eb;
  border-top: 1px solid #7a67eb;
  border-bottom: 1px solid #7a67eb;
}
.custom_item .flex {
  display: flex;
  justify-content: space-between;
}
.custom_item .value {
  font-weight: bold;
}
.webix_list_item.custom_item {
  color: #2c2f3c;
  font-size: 16px;
  border-radius: 4px;
  margin: 10px 5px;
  overflow: hidden;
  padding: 15px;
}

.webix_list_item.custom_item.webix_selected {
  padding: 15px;
  margin: 10px 5px;
  box-shadow: none;
}

.webix_list_item.custom_item.webix_selected.income {
  background-color: #fedd97;
  border-color: #fcba2e;
}

.webix_list_item.custom_item.webix_selected.expense {
  background-color: #bdb3f5;
  border-color: #7a67eb;
}

.webix_list_item.custom_item.income:hover {
  background-color: #f8f07733;
}

.webix_list_item.custom_item.expense:hover {
  background-color: #a296eb33;
}

.webix_list_item.custom_item .delete_icon {
  opacity: 0;
}

.webix_list_item.custom_item:hover .delete_icon {
  opacity: 1;
}

.webix_list_item.custom_item .delete_icon:hover {
  filter: drop-shadow(0px 0px 6px #666);
}

.webix_list_item.custom_item .category {
  font-weight: 500;
}
